:root {
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-extra-bold: 400;
  --font-scale-000: 0.547rem;
  --font-scale-00: 0.676rem;
  --font-scale-0: 0.81rem;
  --font-scale-0-5: 0.875rem;
  --font-scale-1: 1rem;
  --font-scale-2: 1.198rem;
  --font-scale-3: 1.48rem;
  --font-scale-4: 1.674rem;
  --font-scale-5: 1.9rem;
  --font-scale-6: 2.05rem;
  --font-scale-7: 2.842rem;
  --font-scale-8: 3.885rem;
  --font-scale-9: 4.798rem;
  --font-scale-10: 5.75rem;
}

.HyperMD-codeblock-bg.CodeMirror-linebackground {
  background: transparent !important;
  background-color: transparent !important;

}

.outliner-plugin-bls .markdown-source-view .CodeMirror-line .cm-hmd-list-indent::before {
  background-size: 4ch 1px;
}
span.cm-header {
    font-family: IBM Plex Sans;
}