<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>artistName</key>
	<string>Marschner, Steve;Shirley, Peter;</string>
	<key>book-info</key>
	<dict>
		<key>cover-image-hash</key>
		<string>E4F844DF50F56D71FBB0A27FB62D1CB8</string>
		<key>cover-image-path</key>
		<string>ops/images/9781000426359.jpg</string>
		<key>mime-type</key>
		<string>application/epub+zip</string>
		<key>package-file-hash</key>
		<string>7B6BA689CF0CB4872B47A90859FA5B78</string>
		<key>publisher-unique-id</key>
		<string>9781000426359</string>
		<key>unique-id</key>
		<integer>-5005336479772559992</integer>
		<key>update-level</key>
		<integer>2</integer>
	</dict>
	<key>itemName</key>
	<string>Fundamentals of Computer Graphics</string>
	<key>playlistName</key>
	<string>Fundamentals of Computer Graphics</string>
	<key>releaseDate</key>
	<string>2021-07-05</string>
</dict>
</plist>
